.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}

.navbar {
  position: fixed;
  top:0;
  display: block;
  height:60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
}

.w-nav:before, .w-nav:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-nav:after {
  clear: both;
}

.w-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container:before, .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}

.w-nav-brand {
  height: 70%;
  display: flex;
  align-items: center;
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.h-logo {
  max-height: 50px;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.kCEMFk {
  margin-left: 10px;
  padding: 10px;
}
.kCEMFk img {
  height: 30px;
  width: 30px;
  margin-top: 0;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.w-nav-menu {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-weight: 600;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.all-container {
  height: auto;
  /* margin: 0;
  max-width: 940px; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1%;
  padding-bottom: 20%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
 
/* Search */
.search-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h2.suburb {
  position: relative;
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Inter, sans-serif;
  color: hsla(48.23529411764706, 100.00%, 50.00%, 1.00);
  font-weight: 700;
  text-decoration: underline;
}

.image {
  max-width: 30px;
  padding-bottom: 20px;
}

.image-option{
  margin-right: 15px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 37px;
  width: 30px;
}
.text-option1{
  color: black;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 12;
  height: auto;
  flex: 1 1 50%;
  
}
.text-option2{
  color: #5f6368;
  font-family: Inter, sans-serif;
  font-weight: 100;
  font-size: 12px;
  height: auto;
  flex: 1 1 50%;
  white-space: pre-wrap;
}
.text-option-container {
  display: flex;
  direction: column; 
  align-items: center;
}
.option-container{
  display: flex;
  direction: row;
}
/* End Search */
.expert-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 300px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 0.75px solid #e5e5e5;
  border-radius: 7px;
  background-color: #fcfcfc;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .1);
}
.expert-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-2 {
  height: 75px;
  max-width: 75px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.logo.mobile {
  display: none;
  
}

.expert-info-card {
  margin-left: 10px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  max-width: 190px;
}

.expert-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: 'Inter beta', sans-serif;
  font-weight: 300;
  
}


.expert-info.name {
  margin-bottom: 5px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  
}

.text-span{
  margin-top: 30px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  
}

.text-span-2 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold-text{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommendation-wrapper {
  margin-left: 0px;
  width: 100%;
}

.recommended-venue {
  margin-right: 15px;
  margin-bottom: 10px;
  margin-left: 15px;
  font-family: 'Inter beta', sans-serif;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 16px;
}

.text-span-3 {
  font-family: Inter, sans-serif;
  color: #f63a3a;
  font-weight: 600;
  
}

.comment {
  display: block;
  height: 6em;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  font-family: 'Inter beta', sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 420px;
  -webkit-line-clamp: 3;  
}





.food-image {
  width: 298.5px;
  height: 298.5px;
  margin-top: auto; 
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.flex-container-row { 
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-item-logo{
  flex-grow: 1.5;
  margin-bottom: auto;
  padding-top: 3%; 
}
.flex-item-info{
  flex-grow: 1;
  
}



.logo {
  margin: auto;
  max-width: 420px;
}



.profile-pic {
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center;
}

.pic {
  width: 100%;
}

.pic-container {
 width: 100%;

}

.intro-container {
  margin-top: 10px;
  margin-left: 40px;
}

.search-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.h2 {
  margin-top: 10%;
  margin-left: 10px;
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-size: 42px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -1px;
}

.app-store-wrapper {
  cursor: pointer;
}

.app-store-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}

.app-store {
margin-top: 0px; 
display: flex;
}

.play-store {
  display: flex;
  margin-left: 25px;
}

.prelist-email {
  padding: 20px;
  width: 100%;
  border: 0;
  color: #5f6368;
  outline: 2px solid transparent;
  transition: 300ms ease outline;
}

.prelist-submit {
  background: #E34B44;
  flex-shrink: 0;
  color: #FFF;
  padding: 15px 20px;
  font-family: Inter, sans-serif;
  margin-left: 15px;
  transition: 300ms ease opacity;
}

.email-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  /* margin-bottom: -30px; */
}

.download-container {
  height: 100%;
}
.download-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

.h3 {
  margin-top: 0px;
  font-family: Inter, sans-serif;
  color: #FFF;
  text-align: center;
  letter-spacing: 0px;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, html input[type="button"], input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

.h1 {
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-size: 46px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: -1px;
}

.home-headline {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 50px;
}

.home-text-block {
  font-family: 'Inter', sans-serif;
  color: #5f6368;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
}

.download {
  height: auto;
  padding: 80px 0px;
  background-color: #ffcc05;
}

/* Footer */
.footer {
  height: 80px;
  background-color: #f8f9fa;
  box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, .1);
}

.footer-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}


.footer-wrapper-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.link:hover {
  color: hsla(213.33333333333331, 4.52%, 39.02%, 0.70);
}

a:active, a:hover {
  outline: 0;
}

.link {
  margin-left: 40px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-weight: 600;
  text-decoration: none;
}
.bBdLAF {
  margin-left: 30px;
}

.bBdLAF img {
  height: 30px;
  width: 30px;

}

.bBdLAF {
  padding: 10px;
}
.text-block {
  margin-left: 30px;
  font-family: 'Inter beta', sans-serif;
  color: #5f6368;
  font-style: normal;
  font-weight: 300;
}

.cake-logo.mobile {
  
  display: none;
}

@media (max-width: 1000px){
  .all-container {
    margin: 1%;
    
} 

.h-logo {
  margin-left: 50px;
}
 
.expert-card {
  display: flex;
  height: auto;
  width: 275px;
  margin: auto;
  margin-top: 20px;
  flex-direction: column;
  align-items: flex-start;
  border: 0.75px solid #e5e5e5;
  border-radius: 7px;
  background-color: #fcfcfc;
}


.food-image {
  width: 273.5px;
  height: 273.5px;
  
}
  
.home-headline {
  font-size: 28px;
  line-height: 1.3;
  margin-bottom: 10px;
  margin-top: 0px;
}

.home-text-block {
  font-family: 'Inter', sans-serif;
  color: #5f6368;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.6em;
}

.flex-item-logo {
  flex-grow: 0.5;
}

.expert-info-card{
 max-width: 150px;
}
.h2{
  margin-left: 5%;
  margin-right: 5%;
}
.search-div {
  margin-left: 4%;
}
}

@media (max-width: 769px){
  .search-container {
    margin-top: 3%;
  }
.search-div {
  justify-content: space-around;
  margin: auto;
}
.h2{
  font-size: 33px;
  text-align: center;
  margin-top: 20%;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 36px;
}
.h-logo{
  margin-left: 10px;
}
.all-container {
  margin: auto;
  margin-top: -3%;
}

.intro-container {
  margin: auto;
}

  .brand.w--current {
    margin-left: 20px;
}
  .w-container {
    
    max-width: 728px;
}
  .expert-card {
    min-width: 400px;
    width: 70%;
  }
  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .flex-item-logo {
    flex-grow: 1;
    margin-bottom: auto;
    padding-top: 20%;
    margin: auto;
}
.flex-item-info {
    flex-grow: 1;
}
  .expert-info-card {
    margin-left: 25px;
    max-width: 230px;
  }
  
  .expert-wrapper { 
    margin-bottom: 15px;
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px; 
  }
  .expert-card {
    flex: 1 1 50%;
  }
  .expert-info {  
    margin-top: 10px;
  }
  .expert-info.name {   
    font-size: 24px;
    font-weight: 500;
  }
  .comment {
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 300;
  }
  .flex-container-row { 
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .food-image {
    width: 398.5px;
    height: 398.5px;
    
  }

  .intro-container {
    margin: 10px;
}
  .flex-item-row {
    display: flex; 
    flex: 1 0 auto;
    align-self: center;
    width: 100%;
    padding: 0.5em;
  }

  
  .home-headline {
    font-size: 38px;
    line-height: 1.3;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
  }
  
  .home-text-block {
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
    color: #5f6368;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.6em;
    text-align: center;
  }
  
  .cake-logo.mobile {
    margin-left: 20px;
    max-width: 100%;
    display: inline-block;
  }

  .cake-logo {  
    display: none;
}

.h1 {
  font-family: Inter, sans-serif;
  color: #5f6368;
  font-size: 42px;
  font-weight: 700;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.logo {
  display: none;
  margin-bottom: 20px;
}
.logo.mobile {
  display: none;
  
}

.download-wrapper {
  margin: 20px;
}
}
@media (max-width: 415px){
  .expert-wrapper {
   
    padding-right: 10px;
    padding-left: 10px;
}
  .expert-card {
    min-width: 330px;;
    width: 70%;
}
.expert-info-card {
  margin-left: 10px;
  max-width: 200px;
}
  .food-image {
    width: 328.5px;
    height: 328.5px;
}
.h-logo {
    margin-left: 10px;
}
.w-nav-menu {
  margin-right: 10px;
}
.home-headline {
  font-size: 32px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 50px;
}
.footer-wrapper-top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.cake-logo.mobile {
  margin-right: 0px;
  margin-bottom: 6px;
}
.footer {
  height: 270px;
}
.link {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
}
.text-block {
  margin-top: 2px;
  margin-left: 0px;
}
.bBdLAF {
  margin-left: 0;
}
.cake-logo.mobile {
  
  display: none;
}
.cake-logo {  
  margin-right: 0px;
  margin-bottom: 6px;
  display: inline-block;
}
}

@media (max-width: 360px){
  .all-container {
    margin: 3px;
}
  .expert-card {
    min-width: 275px;
    width: 70%;
}
  .food-image {
    width: 273.5px;
    height: 273.5px;
}
.h-logo {
    margin-left: 5px;
}
.w-nav-menu {
  margin-right: 5px;
}
.expert-wrapper {
  padding-right: 10px;
  padding-left: 10px;
}
.expert-info-card {
  margin-left: 10px;
  max-width: 150px;
}
.recommended-venue {
  margin-right: 10px;
  margin-left: 10px;
}
.comment {
  margin-right: 10px;
  margin-left: 10px;
}
.home-headline {
  font-size: 28px;
  line-height: 1.3;
}
.home-text-block {
  font-size: 0.8em;
}
.play-store {
  margin-left: 10px;
}
}

